.accountslist-card {
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: var(--bone);
  display: flex;
  color: var(--slate);
  flex-direction: column;
  height: 11rem;
  justify-content: center;
  margin: 0 auto;
  margin-right: 1rem;
  width: 11rem;
}

.accountslist-card:hover,
.accountslist-card:active {
  color: var(--bone);
  background: var(--slate);
  border-color: var(--slate);
}

.accountslist-card--dark {
  background: var(--slate);
  color: var(--bone);
}

.accountslist-card--dark:hover,
.accountslist-card--dark:active {
  color: var(--bone);
  background: var(--ocean);
  border-color: var(--ocean);
}

.accountslist-card-container {
  height: 100%;
  width: 100%;
}

.accountslist-card-details {
  margin-top: 1rem;
  margin-left: 1rem;
}

.accountslist-card-header {
  height: 2px;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 100%;
  background: var(--bone);
}

.accountslist-card-title {
  text-align: center;
}

.accountslist-holder {
  margin-top: 1rem;
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}
.accountslist-holder > * {
  margin: 1rem;
}
