.accountslist-card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  background: var(--bone);
  color: var(--slate);
  flex-direction: column;
  height: 9rem;
  margin: 0 1rem 1rem 0;
  text-align: center;
  width: 9rem;
}

.accountslist-card:hover,
.accountslist-card:active {
  color: var(--bone);
  background: var(--slate);
  border-color: var(--slate);
}

.accountslist-card__dark {
  background: var(--slate);
  color: var(--bone);
}

.accountslist-card__dark:hover,
.accountslist-card__dark:active {
  color: white;
  background: var(--ocean);
  border-color: var(--ocean);
}

.accountslist-card__header {
  height: 2px;
  margin: 1rem 0 1rem 0;
  background: var(--bone);
}

.accountslist-card__icon {
  align-self: flex-end;
  justify-self: flex-end;
}

.accountslist-card__info {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 73%;
  justify-content: space-between;
  padding: 0 0.5rem 0 0.5rem;
}
