.account-screen {
  width: 85%;
}

.account-card-header {
  background: var(--slate);
  color: white;
  display: flex;
  flex-direction: row;
  font-size: x-large;
  justify-content: space-between;
  margin-top: 0.3rem;
  margin-bottom: 1rem;
  padding: 2rem 2rem;
  width: 100%;
}

.account-card {
  padding: 0;
  height: 55rem;
  max-height: 85%;
  width: 100%;
}

.account-card-container {
  height: 100%;
}

.account-card-content {
  height: 50rem;
  max-height: 85%;
  overflow-y: scroll;
}

.account-button {
  display: inline-block;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--ocean);
  border-radius: 4px;
  background: var(--bone);
  color: var(--slate);
  cursor: pointer;
  height: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  max-height: 15%;
  max-width: 15%;
  width: 7rem;
  text-align: center;
  text-decoration: none;
}

.account-button:focus {
  outline: none;
}

.account-button:hover,
.account-button:active {
  color: var(--bone);
  background: var(--slate);
  border-color: var(--slate);
}

.account-navbuttons {
  display: flex;
  flex-direction: column;
  width: 13rem;
}

.account-details-content {
  height: 100%;
  width: 100%;
  padding: 1rem;
  flex-direction: column;
  color: black;
}

.account-details-balance {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
}

.account-details-balance-large {
  color: green;
  font-size: xx-large;
  margin-right: 0.5rem;
}

/** Transaction List */
.transaction-list {
  list-style: none;
  margin: 1rem;
}

/** Transaction Items */
.transaction-item {
  margin: 1rem;
}

.transaction-item__content {
  background-color: var(--slate);
  padding: 0;
}

.transaction-item__info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
}

.transaction-item__info h2,
.transaction-item__info h3,
.transaction-item__info p {
  margin: 0 0 0.5rem 0;
}
