.account-screen {
  width: 85%;
}

.account-card-header {
  background: var(--slate);
  color: white;
  margin-top: 0.3rem;
  padding: 2rem 0.5rem;
  font-size: large;
  width: 100%;
}

.account-card {
  padding: 0;
  height: 40rem;
  max-height: 85%;
  width: 100%;
}

.account-card-container {
  height: 100%;
}

.account-card-content {
  height: 80%;
  max-height: 85%;
  overflow-y: scroll;
}

.account-button {
  display: inline-block;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--ocean);
  border-radius: 4px;
  background: var(--bone);
  color: var(--slate);
  cursor: pointer;
  height: 2.5rem;
  margin-left: 1rem;
  margin-right: 1rem;
  max-height: 15%;
  max-width: 15%;
  width: 7rem;
  text-align: center;
  text-decoration: none;
}

.account-button:focus {
  outline: none;
}

.account-button:hover,
.account-button:active {
  color: var(--bone);
  background: var(--slate);
  border-color: var(--slate);
}

.account-navbuttons {
  display: flex;
  flex-direction: column;
  width: 13rem;
}
