.button {
  display: inline-block;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--ocean);
  border-radius: 4px;
  background: var(--ocean);
  color: white;
  cursor: pointer;
  margin-right: 1rem;
  text-decoration: none;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: var(--bone);
  border-color: var(--bone);
  color: var(--slate);
}

.button--dark {
  background: var(--slate);
  color: var(--bone);
}

.button--dark:hover,
.button--dark:active {
  color: var(--bone);
  background: var(--ocean);
  border-color: var(--ocean);
}

.button--inverse {
  background: var(--bone);
  color: var(--slate);
}

.button--inverse:hover,
.button--inverse:active {
  color: var(--bone);
  background: var(--slate);
  border-color: var(--slate);
}

.button--danger {
  color: white;
  background: var(--heart);
  border-color: var(--heart);
}

.button--danger:hover,
.button--danger:active {
  color: var(--heart);
  background: var(--bone);
  border-color: var(--bone);
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: var(--bone);
  color: #979797;
  border-color: var(--bone);
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}
