.home-accounts {
  display: flex;
  justify-content: space-around;
}

.plaid-card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 6px;
  display: flex;
  height: 11rem;
  padding: 0;
  width: 11rem;
}

.plaid-card__content {
  width: 100%;
}
