.account-card {
  display: flex;
  flex-direction: column;
  height: 55rem;
  padding: 1rem;
  width: 100rem;
}

.account-card__header {
  background-color: var(--slate);
  border: 2px solid var(--slate);
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  font-size: xx-large;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 1rem 1rem;
}

.account-card__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 1rem 0 1rem;
}

.account-card__text {
  background-color: var(--slate);
  border: 2px solid var(--slate);
  border-radius: 10px;
  color: white;
  font-size: x-large;
  padding-left: 1rem;
}

/** Navigation buttons */
.account-nav {
  display: flex;
  flex-direction: column;
  width: 13rem;
}

.account-nav__button {
  display: inline-block;
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid var(--ocean);
  border-radius: 4px;
  background: var(--bone);
  color: var(--slate);
  cursor: pointer;
  height: 2.5rem;
  max-height: 15%;
  max-width: 15%;
  text-align: center;
  text-decoration: none;
}

.account-nav__button:focus {
  outline: none;
}

.account-nav__button:hover,
.account-nav__button:active {
  color: var(--bone);
  background: var(--slate);
  border-color: var(--slate);
}

/** Details */
.account-details__balance {
  align-items: baseline;
  background-color: var(--bone);
  border: 2px solid var(--bone);
  border-radius: 10px;
  color: var(--slate);
  font-size: medium;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 0 1rem 0 1rem;
}

.account-details__balance-large {
  color: var(--moss);
  font-size: xx-large;
  margin-right: 0.7rem;
}
